*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.brush {
  height: 40px;
  width: 40px;
  background-color: mistyrose;
}

.square {
  height: 20px;
  width: 20px;
  background-color: red;
}